<div class="wrapper">
     	 <div class="container">
     	 	 <div class="row">
     	 	 	 <div class=" col-md-3 col-sm-3 col-xs-12">
     	 	 	 	     <%= render partial: "shared/sidebar" %>
     	 	      </div>
     	 	      <!--left part is ends here now right part is start -->
     	 	      <div class="col-sm-9 col-xs-12" style="padding:0px;">
     	 	      	  
     	 	      	  <div class="col-xs-12 wishlistt">
     	 	      	  	  My Wishlist
     	 	      	  </div>
     	 	      	  <div class="col-xs-12" style="padding:0px;">
     	 	      	  	  <div class="col-md-3 col-sm-4 col-xs-12 imgggg n" style="padding:0px;">
     	 	      	  	  	  <div class="col-xs-12">
     	 	      	  	  	  	  <%= image_tag("img11.jpg",:class=>'img-responsive mainimg',:style=>'padding:5px;') %> 
     	 	      	  	  	  </div>
     	 	      	  	  	  <div class="col-xs-12 imggggtext">Fur coat with very but very very long</div>
     	 	      	  	  	  <div class="col-xs-12 imggggtext">$143</div>
     	 	      	  	  	  <div class="col-xs-12 imggggtext view1">
     	 	      	  	  	  	  <button class="btn btn-default btn-md"><span class="items">View detail</span></button>
     	 	      	  	  	  </div>
     	 	      	  	  	  <div class="col-xs-12 imggggtext view1">
                                   <button class="btn btn-default btn-md"style="background:#3b5998;color:#fff;"><span class="glyphicon glyphicon-shopping-cart"></span> <span class="items">Add to cart</span></button>
                              </div>
     	 	      	  	  </div>
     	 	      	  	  <div class="col-md-3 col-sm-4 imgggg col-xs-12" style="padding:0px;">
     	 	      	  	  	  <div class="col-xs-12">
     	 	      	  	  	  	 <%= image_tag("img12.jpg",:class=>'img-responsive mainimg',:style=>'padding:5px;') %> 
     	 	      	  	  	  </div>
     	 	      	  	  	  <div class="col-xs-12 imggggtext">Fur coat with very but very very long</div>
     	 	      	  	  	  <div class="col-xs-12 imggggtext">$143</div>
     	 	      	  	  	  <div class="col-xs-12 imggggtext view1">
     	 	      	  	  	  	  <button class="btn btn-default btn-md"><span class="items">View detail</span></button>
     	 	      	  	  	  </div>
     	 	      	  	  	  <div class="col-xs-12 imggggtext view1">
     	 	      	  	  	  	   <button class="btn btn-default btn-md"style="background:#3b5998;color:#fff;"><span class="glyphicon glyphicon-shopping-cart"></span> <span class="items">Add to cart</span></button>
     	 	      	  	  	  </div>
     	 	      	  	  </div>
     	 	      	  	  <div class="col-md-3 col-sm-4 col-xs-12 imgggg" style="padding:0px;">
     	 	      	  	  	   <div class="col-xs-12">
                                <%= image_tag("img13.jpg",:class=>'img-responsive mainimg',:style=>'padding:5px;') %> 
     	 	      	  	  	  	  
     	 	      	  	  	  </div>
     	 	      	  	  	  <div class="col-xs-12 imggggtext">Fur coat with very but very very long</div>
     	 	      	  	  	  <div class="col-xs-12 imggggtext">$143</div>
     	 	      	  	  	  <div class="col-xs-12 imggggtext view1">
     	 	      	  	  	  	  <button class="btn btn-default btn-md"><span class="items">View detail</span></button>
     	 	      	  	  	  </div>
     	 	      	  	  	  <div class="col-xs-12 imggggtext view1">
     	 	      	  	  	  	   <button class="btn btn-default btn-md"style="background:#3b5998;color:#fff;"><span class="glyphicon glyphicon-shopping-cart"></span> <span class="items">Add to cart</span></button>
     	 	      	  	  	  </div>
     	 	      	  	  </div>
     	 	      	  	  
     	 	      	  </div>
     	 	      </div>
     	 	 </div>
     	 </div>
     </div>
